.menu {
	position: fixed;
	background-color: white;
	color: black;
    z-index: 100;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hero{
	position: relative;
	float: left;
  	background: 
  	url(/img/home-stairs.jpg);

  	background-size: cover;
}